@using Pos.Web.Models
@model ProductViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Found Product - {@Model.Id}</title>
</head>
<body>
    <div>
        Id: @Model.Id
        @if (@Model.Barcode != "")
        {
            @Model.Barcode;
        }
    </div>
</body>
</html>